{
    "presets": [
      [
        "@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": ["import-graphql", ["@babel/plugin-proposal-decorators", {"decoratorsBeforeExport": true}]]
  }